@use '../colors';
@use '../screen';

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

    p {
        margin-right: 2px;
        width: 15%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.status {
            overflow: visible;
        }

        &.not_assigned {
            display: flex;
            justify-content: center;
            background-color: rgb(199, 199, 248);
            border-radius: 4px;
            color: white;
            padding-left: 2px;
        }

        &.volunteer {
            display: flex;
            align-items: center;
            img, .no_img {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                margin-right: 8px;
            }

            .no_img {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: colors.$brand-color;
                color: white;
                font-weight: bold;
                padding: 2px;
            }

            .redprofile {
                background-color: rgb(148, 92, 92);
            }
            .greenprofile {
                background-color: rgb(115, 151, 115);
            }
            .blueprofile {
                background-color: rgb(50, 50, 94);
            }

            .movprofile {
                background-color: violet;
            }

            .orangeprofile {
                background-color: rgb(99, 80, 46);
            }
        }

        &[data-status="pending"] {
            color: colors.$brand-color;
        }
        &[data-status="on-going"] {
            color: blue;
            
            button {
                color: colors.$brand-color;
                background-color: white;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

    }

    .title {
        width: 20%;
        //text-overflow: ellipsis;
    }

    .count {
        color: blue;
        font-weight: bold;
    }

    @media (max-width: screen.$mobile-break_point) {
        & {
            width: 800px;
        }
    }
}